

* { 
	box-sizing: border-box;
	line-height: 1.5;
	scroll-behavior: smooth; }

body {
	height: 1000px;
	width: 100%;
	margin: 0.0; 
	background: linear-gradient(45deg, seagreen, springgreen); }	