
#formPage { 
	display: none; }
.mainContainerA { 
	scrollbar-width: 0px;
	-webkit-scrollbar-width: 0px;
	width: 100%;
	overflow-x: scroll;
	overflow-y: none; }
.subContainerA {
	width: 120%;
	display: flex;
	flex-flow: row nowrap;
	margin-left: 50px;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin: 20px; }
.mainContainerA .subContainerA::after {
  	content: '';
  	position: absolute;
  	width: 100%;
  	height: 6px;
  	background-color: #405d27;
  	top: 0;
  	bottom: 0;}  	
.mainContainerA .containerA {
	margin-top: 30px;
	padding: 15px; 
	height: 15%; 
	width: 80%;  }
.containerA { 
	border-radius: 25px;
	position: relative;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
	border: 2px solid white;
	background: white;
	position: relative; }
.mainContainerA .subContainerA .containerA::after {
  	content: '';
  	position: absolute;
  	width: 25px;
  	height: 25px;
  	left: 49%;
  	background-color: white;
  	border: 2px dashed black;
  	top: -45px;
  	border-radius: 50%;
  	z-index: 1; } 
.arrow::before {
  	content: " ";
  	height: 0;
  	position: absolute;
  	top: -11px;
  	width: 0;
  	z-index: 1;
  	margin-left: auto;
  	margin-right: auto;
  	border: medium solid white;
  	border-width: 0px 10px 10px 10px;
  	border-color: transparent transparent white transparent;
  	/*border-left: 15px solid transparent;
  	border-right: 15px solid transparent;
  	border-bottom: 15px solid white;*/ }
.containerA h3 { 
	border-bottom: 2px solid white; }  	
.containerA:hover, .containerA h3:hover, .arrow:hover::before { 
	border-bottom-color: black; }  	  	 		
.containerA:hover { 
	border: 2px solid black; }		
.mainContainerA::-webkit-scrollbar { 
  	width: 0px; }

.mainContainer { 
	scrollbar-width: 0px;
	-webkit-scrollbar-width: 0px;
	width: 100%;
	overflow-x: scroll;
	overflow-y: none; }
.subContainer {
	margin-left: 50px;
	white-space: nowrap; }
.mainContainer .container {
	height: 35%;
	width: 35%;
	display: inline-block;
	padding-right: 15px; 
	position: relative; }
#sub3n .container { 
	height: 50%; 
	width: 90%; }	
.mainContainer .container:hover {
	cursor: pointer;
	z-index: 1;
	opacity: 0.7; }
.mainContainer a { 
	color: white; 
	text-decoration: none; }
.container .thumbnail img{
  	opacity: 1;
  	width: 100%;
  	height: 100%;
  	height: auto;
  	transition: .2s ease-in-out;
  	backface-visibility: hidden; 
  	white-space: nowrap; }
.middle {
  	transition: .5s ease;
  	opacity: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	text-align: left; 
  	white-space: nowrap;}
.container:hover .thumbnail img{
  	border-top-right-radius: 50px;
  	border-bottom-left-radius: 50px;
	z-index: 1;
  	opacity: 0.5;
  	background-color: white;	}
.container:hover .middle {
  	opacity: 1; }
.text {
  	background-color: none;
  	padding: 10px; 
  	white-space: nowrap;}
.text p { 
	cursor: pointer;
  	vertical-align: middle; 
  	color: black;
  	font-size: 20px;
  	font-weight: bold; }	
.mainContainer::-webkit-scrollbar { 
  	width: 0px; }  	

button[class='scroll'] { 
	height: 50px; 
	width: 50px;
	padding: 10px;
	border-radius: 50%;
	margin-right: 10px; 
	line-height: 30px;
	background: #3e4444;
	color: #c1956a; 
	cursor: pointer; } 

button[class='scroll'] i { 
	width: 100%;
	vertical-align: middle; }

button[class='scroll']:hover { 
	background: #405d27; }

.modalContainerCollection { 
	display: none;
	position: fixed;
	left: 0;
	top: 0; 
	z-index: 1; 
	width: 100%; 
	background: #3e4444; 
	overflow: auto;
	height: 100%; }
.modalContainerCollection::-webkit-scrollbar { 
	width: 0; }	
.modalContainerCollection .modalContentCollection { 
	padding: 50px;
	width: 100%;
	margin-right: auto; 
	margin-left: auto; 
	/*background-color: #82b74b;*/
	background: linear-gradient(120deg, #82b74b, #405d27);
	position: relative; }
.modalContainerCollection .modalContentCollection div { 
	display: flex; 
	flex-flow: row wrap; 
	justify-content: flex-start; 
	align-items: flex-start; }
.modalContainerCollection .modalContentCollection div section { 
	margin: 10px;
	width: 47%; }	
.modalContainerCollection .modalContentCollection div content * { 
	padding: 10px;
	background-color: #3e4444;
	font-size: 14px;
	width: 100%;
	height: 400px;
	overflow: scroll;
	font-family: 'arial', serif; }
.modalContainerCollection .modalContentCollection div content *::-webkit-scrollbar	{ 
	width: 8px;
	height: 8px; }
.modalContainerCollection .modalContentCollection div content *::-webkit-scrollbar-track { 
	border-radius: 5px; }
.modalContainerCollection .modalContentCollection div content *::-webkit-scrollbar-thumb { 
	background-color: #c1946a; 
	border:1px solid black; 
	border-radius: 5px; }		
.modalContentCollection iframe { 
	display: inline-block;
	outline: none; 
	background: none;
	width: 100%;
	height: 1078px; 
	border:5px solid #3e4444; 
	margin-left: auto;
	margin-right: auto;  }				
.modalContentCollection button { 
	cursor: pointer;
	position: absolute;
	top: 25px;
	right: 25px;
	display: inline-block; 
	outline: none; 
	font-size: 19px; 
	line-height: 30px; 
	height: 60px;
	width: 60px;
	border-radius: 40px;
	color: #3e4444; 
	background: transparent;
	border: 2px solid #3e4444; }  
.modalContentCollection button:hover { 
	background: #3e4444;
	color: #82b74b;  }	
.modalContentCollection button i { 
	vertical-align: middle; }	

.modalContentCollection img { 
	width: 100%; 
	height: 100%; }		


#navigationTempId .modalContainerCollection .modalContentCollection div section { 
	width: 100%; }
#navigationTempId .modalContainerCollection iframe { 
	width: 100%; 
	background: #3e4444;
	overflow: hidden;
	overflow-y: hidden; }	
	


		.mainContainerGrad { 
			box-sizing: border-box;
			padding: 10px;
			display: flex; 
			flex-flow: row wrap;
			justify-content: flex-start;
			align-items: center; }
		.sec { 
			width: 300px; 
			height: 400px;
			margin: 15px;
			display: flex;
			flex-flow: column wrap;
			justify-content: space-around;
			align-items: center;
			border-radius: 10px;
			box-shadow: 5px 5px 10px black;  }	
		.sec div { 
			border-radius: 10px 10px 0px 0px;
			width: 100%; 
			height: 80%;  }	
		.sec p { 
			font-size: 15px;
			background: wheat;
			margin: 0px;
			padding: 10px;
			border-radius: 0px 0px 10px 10px;
			width: 100%;
			height: 20%; }	
		section #c1 { background: linear-gradient(120deg, #ffef96, #50394c); }
		section #c2 { background: linear-gradient(120deg, #f18973, #bc5a45); }
		section #c3	{ background: linear-gradient(120deg, #bc5a45, #50394c); }
		section #c4 { background: linear-gradient(120deg, #f18973, #50394c); }
		section #c5	{ background: linear-gradient(120deg, #bc5a45, #ffef96); }
		section #c6 { background: linear-gradient(120deg, #f18973, #ffef96); }
		section #c7 { background: linear-gradient(120deg, #82b74b, #405d27); }
		section #c8 { background: linear-gradient(120deg, #c1946a, #82b74b); }
		section #c9 { background: linear-gradient(120deg, #82b74b, #3e4444); }
		section #c10 { background: linear-gradient(120deg, #3e4444, #f18973); }
		section #c11 { background: linear-gradient(120deg, orchid, darkorchid); }
		section #c12 { background: linear-gradient(120deg, lightblue,skyblue, deepskyblue); }
		section #c13 { background: linear-gradient(120deg, indianred, crimson); }
		section #c14 { background: linear-gradient(120deg, #ecdbba, #346751); }
		section #c15 { background: linear-gradient(120deg, #abcdef, #123456); }
		section #c16 { background: linear-gradient(120deg, #afbecd, #192837); }	
		section #c17 { background: linear-gradient(120deg, #a71d31, #3f0d12); }