
@import "horizontalnavigation.css";

/* Style for all elements */
* { 
	scroll-behavior: smooth;
	box-sizing: border-box;
	line-height: 1.5; }
html { 
	scroll-behavior: smooth; }
body {
	font-size: 20px;
	margin: 0.0;
	background: #c1946a; }
h1, h2, h3, i { 
	font-family: Spectral, serif; }
p, button, a, span, summary, details, .dateTime, .datetime2, label, #quotez, ul, li { 
	font-family: Rubik, sans-serif; }		

@media screen and (max-width: 1024px)
{
	body { 
		font-size: 15px;  }
}

@media screen and (max-width: 769px)
{
	body { 
		font-size: 15px;}	
}	


/* Navigation Bar */
.topnav {
	z-index: 10;
	display: flex; 
	font-size: 19px;
	height: 100px;
	margin: 20px 50px;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center; }	
.topnav .navigation button {
	font-size: 19px; 
	display: inline-block; 
	outline: none;
	border: none;  
	background: none; 
	border-bottom: 2px solid #c1946a;
	padding: 20px; }	
.topnav #b1 { 
	background-color: #405d27;
	color: black; }
.topnav #b1:hover { 
	border-top-right-radius: 25%;
	border-bottom-left-radius: 25%; 
	border: none; }		
.topnav .navigation button:hover { 
	color: #3e4444; 
	cursor: pointer;
	border-bottom: 2px solid #3e4444; }	
.topnav .dateTime { 
	color: black;
	padding: 20px; 
	padding-bottom: 10px; }	
.topnav .searchbar { 
	padding: 20px 20px 10px 20px; }
.topnav .searchbar input[type=search], button { 
	color: black;
	line-height: 25px;
	background: none; 
	outline: none; 
	border: none; }	
.topnav .searchbar input[type=search] { 
	display: none;
	width: 200px;
	/*border-bottom: 2px solid black;
	width: 150px;
	transition: width 0.2s ease;*/ }
.topnav .searchbar input[type=search]:focus {
	color: white; 
	/*width: 250px; 
	border-bottom: 2px solid white;*/ }
input[type=search]::placeholder { 
	vertical-align: middle;
	color: black; }	
.topnav .searchbar span:hover { 
	cursor: pointer; 
	color: white; }	
.topnav .searchbar span i { 
	vertical-align: middle; }

/*#anime { width: 100%; height: 3px; background-color: pink; }
#animeC { width: 1%; height: 100%; background-color: black; animation: zz 5s linear infinite alternate; }
@keyframes zz { 
	0% { width:1%; } 
	25% { width:25%; } 
	50% { width:50%; } 
	75% { width:75%; } 
	100% { width:100%; } }*/	

.topnav2 { 
	display: none;
	background-color: crimson;
	flex-flow: row wrap;
	justify-content: space-between;
	position: relative;
	align-items: center; }
.topnav2 *{ 
	font-size: 19px; }	
.topnav2 .nav { 
	display: none; 
	flex-flow: column wrap; 
	justify-content: flex-start; 
	align-items: center;
	background-color: crimson;
	border-radius: 0px 25px 25px 25px;
	color: black;
	width: 100%;
	position: absolute;
	top: 50px;
	left: 0px; }
.topnav2 .nav * { 
	text-align: left;
	color: black; }		
.topnav2 button, .topnav2 .nav button { 
	cursor: pointer;
	font-size: 19px;
	display: inline-block; 
	outline: none;
	border: none;  
	background: none; 
	padding: 20px; }
.topnav2 .nav button { 
	width: 100%; }	
.topnav2 .nav button:hover { 
	background: white; }		
.topnav2 .dateTime { 
	color: grey;
	padding: 20px; 
	padding-bottom: 10px; }	
/*.topnav2 .searchbar { 
	padding: 20px; }*/

.topnav2 .searchbar { 
	display: none;
	padding: 20px 20px 10px 20px; }
.topnav2 .searchbar input[type=search], button { 
	color: black;
	line-height: 25px;
	background: none; 
	outline: none; 
	border: none; }	
.topnav2 .searchbar input[type=search] { 
	display: none;
	width: 200px; }
.topnav2 .searchbar span:hover { 
	cursor: pointer; 
	color: white; }	
.topnav2 .searchbar span i { 
	vertical-align: middle; }	

.searchDisplay { 
	display: none;
	background-color: #405d27;
	width: 100%;
	height: 100%;
	overflow: scroll;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 5;
	padding: 25px; }
.searchDisplay button, .searchDisplay p, .searchDisplay span, .searchDisplay a {
	color: black;
	text-decoration: none; 
	cursor: pointer;
	font-size: 19px; }
.searchDisplay button:hover, .searchDisplay p:hover, .searchDisplay a:hover, .searchDisplay span:hover { 
	text-decoration: underline; 
	color: white; }	
.searchDisplay::-webkit-scrollbar { width: 0px; height: 0px; }	
/*.searchDisplay iframe { 
	display: inline-block; 
	outline: none; border: none; 
	background: none; 
	width: 100%; height: 900px; }		*/

@media screen and (max-width:  1024px)
{
	.topnav { 
		margin: 15px 20px; 
		font-size: 17px; }
	.topnav .navigation button, .topnav i { 
		font-size: 17px; }	
}

@media screen and (max-width: 769px)
{
	.topnav { 
		display: none; }
	.topnav2 { 
		display: flex;
		position: sticky;
		top: 0;
		left: 0;
		z-index: 5; }
	.topnav2 .datetime { 
		display: none; }		
}		

@media screen and (max-width: 481px)
{
	.topnav2 .dateTime { 
		display: none; }
}

/* Style Home */
.home { 
	/*background: linear-gradient(#c1946a 0% 90%, #405d27 90% 93%, #c1946a 93% 100%);*/
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='567' preserveAspectRatio='none' viewBox='0 0 1440 567'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1170%26quot%3b)' fill='none'%3e%3crect width='1440' height='567' x='0' y='0' fill='rgba(193%2c 148%2c 106%2c 1)'%3e%3c/rect%3e%3cpath d='M1512 567L0 567 L0 395.85Q70.92 346.77%2c 120 417.7Q147.91 325.61%2c 240 353.51Q292.31 285.82%2c 360 338.13Q467.05 325.18%2c 480 432.22Q502.49 382.71%2c 552 405.2Q632.05 365.25%2c 672 445.3Q744.93 398.24%2c 792 471.17Q793.41 352.58%2c 912 353.99Q941.33 311.32%2c 984 340.65Q1088.33 324.98%2c 1104 429.3Q1156.4 409.71%2c 1176 462.11Q1188.76 402.87%2c 1248 415.63Q1314.05 361.68%2c 1368 427.72Q1372.59 360.31%2c 1440 364.9Q1464.01 316.9%2c 1512 340.91z' fill='rgba(130%2c 183%2c 75%2c 1)'%3e%3c/path%3e%3cpath d='M1512 567L0 567 L0 601.13Q9.7 490.83%2c 120 500.52Q163.78 424.3%2c 240 468.09Q326.01 434.1%2c 360 520.1Q386.58 426.68%2c 480 453.26Q523.18 424.44%2c 552 467.62Q632.65 476.27%2c 624 556.93Q690.11 503.04%2c 744 569.15Q765.7 470.85%2c 864 492.55Q905.58 414.13%2c 984 455.71Q1057.01 408.72%2c 1104 481.73Q1175.25 432.98%2c 1224 504.23Q1284.06 492.29%2c 1296 552.35Q1355.38 539.73%2c 1368 599.1Q1368.05 527.15%2c 1440 527.2Q1440.75 455.95%2c 1512 456.7z' fill='rgba(64%2c 93%2c 39%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1170'%3e%3crect width='1440' height='567' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size: 101% 101%;
	display: flex; 
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 200px;
	margin-top: 100px; }
.home .homeHeading { 
	width: 50%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: flex-end;
	color: black;
	text-align: right; }
/*.home .homeImage { 
	width: 450px; 
	height: 450px;
	background-color: #405d27; }	*/
.home .homeImage img { 
	width: 70%;
	/*margin: auto;;*/ 
	height: auto; 
	border: 50px solid #405d27; }
.home .homeImageBtn { 
	width: 100px;
	position: absolute;
	/*top: 230px;
	right: 375px;*/ }	
.home .homeImageBtn .prev, .nex {
	color: #405d27;
	position: absolute; 
	cursor: pointer;
	line-height: 30px;
	width: 80px;
	height: 80px;
	background-color: #82b74b;
	border-radius: 50%; }
.home .homeImageBtn .prev:hover, .nex:hover	{ 
	color: #c1946a;
	background-color: #3e4444; }
.home .homeImageBtn .prev {
	bottom: 10px;
	left: 555px; }		
.home .homeImageBtn .nex {
	/*bottom: 160px;*/
	left: 555px; }		
.home .homeImageBtn i {
	vertical-align: middle; }	

@media screen and (max-width: 1024px)
{
	.home { 
		background-size: 151% 101%;
		justify-content: space-evenly; }
	.home .homeHeading { 
		width: 40%; }
	.home .homeImage { 
		width: 50%; }
	.home	.homeImage img { 
		width: 80%; 
		margin: auto;}
	.home .homeImageBtn .prev, .home .homeImageBtn .nex { 
		width: 70px;
		height: 70px;
		left: 385px; }			
}

@media screen and (max-width: 769px)
{
	.home { 
		background-size: 201% 101%;
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: space-around;
		height: auto;
		margin-top: 50px; }
	.home .homeHeading { 
		width: 100%; 
		/*justify-content: center;*/
		align-items: center;
		margin-top: 100px;
		text-align: center; }
	.home .homeImage {
		margin-bottom: 150px;
		margin-top: 100px;*
		background-color: #405d27;
		padding: 25px;
		width: 100%; }
	.home .homeImage img{ 
		display: block;
		width: 50%;
		border: 0px;
		margin-right: auto; 
		margin-left: auto; }
	.home .homeImageBtn { 
		display: none; }		
	.home .homeImageBtn i { 
		color: black; }
}			

@media screen and (max-width: 380px)
{
	.home .homeImage img { 
		width: 80%; }
}

/* Style footer */
.footer { 
	display: block; 
	padding: 15px;
	background-color: #405d27;
	transition: border 0.3s ease;  }	
.footer form { 
	margin: 50px;
	color: white;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-start; }
.footer #f1, #f2 { 
	padding: 15px; 
	width: 50%; }
.footer #f1 input, #f2 input { 
	display: inline-block; 
	outline: none; 
	background: none; 
	border: none; 
	border-bottom: 2px solid white; 
	width: 50%; 
	padding-top: 10px;
	transition: width 0.2s ease-in-out; }
.footer #f1 input:focus, #f2 input:focus { 
	width: 100%; 
	border-bottom: 2px solid #3e4444; }
.footer #f3 { 
	padding: 15px; 
	width: 100%; }	
.footer #f3 textarea { 
	display: inline-block; 
	outline: none; 
	background: none;
	resize: none; 
	border: none; 
	border-bottom: 2px solid white; 
	width: 100%; 
	padding-top: 13px; }
.footer #f3 textarea:focus { 
	border-bottom: 2px solid #3e4444; }
.footer #f1 input:hover, #f2 input:hover, #f3 textarea:hover { 
	cursor: pointer; }					
.footer #f4 { 
	padding: 15px; 
	width: 100%; }
.footer #f4 button { 
	display: inline-block; 
	outline: none;
	border: none; 
	background-color: white; 
	color: #405d27; 
	width: 15%; 
	height: 50px; }		
.footer #f4 button:hover {
	cursor: pointer;
	background-color: black;  }
.footer #f1 input, #f2 input, #f3 textarea, #f4 button { 
	line-height: 30px; }	
.footer #f1 input::placeholder,#f2 input::placeholder, #f3 textarea::placeholder { 
	vertical-align: middle;
	font-size: 16px;
	font-family: sans-serif;
	color: black; }	
.footer button i { 
	vertical-align: middle; }	
.footer #f9 { 
	display: none; }	
.footer p { 
	font-size: 18px; }
.footer .details { 
	width: 200px;
	font-size: 18px; }
.footer .details a { 
	color: black; 
	text-decoration: none; }
.footer .details summary:hover, a:hover { 
	cursor: pointer; 
	color: white; }

@media screen and (max-width: 481px)
{
	.footer #f1, #f2 { 
		width: 100%; }
	.footer #f1 input, #f2 input { 
		width: 100%; }	
	.footer #f4 button { 
		width: 100%; }
}

@media screen and (max-width: 769px)
{
	.footer form { 
		margin: 5px; }
	.footer #f1 input::placeholder,#f2 input::placeholder, #f3 textarea::placeholder { 
		font-size: 15px; }
	.footer #f4 button { 
		width: 49%; }	
	.footer .details, .footer p { 
		font-size: 15px; }		
}	

button[id="extraMenu"] { 
	display: block;
	position: fixed;
	line-height: 30px; 
	cursor: pointer;
	bottom: 25px; 
	right: 25px;
	background: #82b74b;
	z-index: 99;
	width: 50px;
	height: 50px;
	border-radius: 50%; }
button[id="extraMenu"]:hover { 
	background: #3e4444; }	
button[id="extraMenu"] i { 
	vertical-align: middle; }	
.extraBtn { 
	display: none;
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 100px; 
	height: 100px;
	z-index: 99; 
	background: #82b74b;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	border-radius: 10px; }
.extraBtn button {
	cursor: pointer;
	line-height: 30px;
	border-radius: 50%;	}
.extraBtn button:hover { 
	background-color: #3e4444; 
	color: #82b74b; }	
.extraBtn i { 
	vertical-align: middle; }

/* Style Bio */
.bio { 
	display: none;
	color: black;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: flex-start;
	padding: 25px; }
.bio .bioCertification div, .bioEducation div, .bioAcademic div, .bioContact div, .bioSkills div, .bioShare div { 
	display: flex; 
	flex-flow: row wrap; 
	justify-content: flex-start; 
	align-items: center; 
	padding: 25px; }
.bio .bioCertification div h3:hover, .bioEducation div h3:hover, .bioAcademic div h3:hover, .bioContact div h3:hover {
	color: white; 
	text-decoration: underline; }	
.bio .bioCertification div h3, .bioEducation div h3, .bioAcademic div h3, .bioContact div h3 { 
	position: relative;
	border-right: 3px solid #405d27;
	padding: 20px;  }		
/*.bio .bioCertification div h3::after, .bioEducation div h3::after, .bioAcademic div h3::after, .bioContact div h3::after { 
	content: ' '; 
	position: absolute;
  	width: 3px;
  	background-color: crimson;
  	top: 0;
  	bottom: 0;
  	margin: 10px; }*/
 .bio .bioCertification div p, .bioEducation div p, .bioAcademic div p, .bioContact div p {
 	text-decoration: none;
 	color: black; 
 	margin-left: 25px; } 	
.bio .bioContact div a:hover { 
	text-decoration: underline; 
	cursor: pointer; }
.bioSkills table { 
	width: 30%; 
	margin-left: 25%; 
	border: none;}
.bioSkills table td i{ 
	margin-left: 50px; 
	margin-right: 50px; 
	font-size: 30px; 
	padding: 10px;}
.bioSkills table h3 { 
	padding: 10px; 
	text-align: right; }
.bioSkills tr:hover { 
	color: #405d27; 
	cursor: pointer; }
.bioSkills tr:hover td i { 
	transform: scale(2,2); 
	color: #405d27; }

@media screen and (max-width:  1024px)
{
	.subContainerA { 
		width: 180%; }
	.mainContainerA .containerA { 
		width: 60%; }
}

@media screen and (max-width: 769px)
{
	.bio { 
		padding: 15px; }
	.bio .bioCertification div, .bioEducation div, .bioAcademic div, .bioContact div, .bioSkills div, .bioShare div { 
		padding: 5px; }
	.bio .bioCertification div h3, .bioEducation div h3, .bioAcademic div h3, .bioContact div h3 { 
		padding: 25px 10px 25px 10px; }	
	.bio .bioCertification div p, .bioEducation div p, .bioAcademic div p, .bioContact div p { 
		margin-left: 15px; }	
	.bioSkills table { 
		width: 100%;
		margin-left: 0px; }
	.bioSkills table td i{ 
		margin-left: 40px; 
		margin-right: 40px; }

	.subContainerA { 
		margin-left: 40px;
		width: 220%; }
	.mainContainerA .containerA {
		height: 15%; 
		width: 50%;  }	

}

@media screen and (max-width: 481px)
{
	.bio { 
		padding: 5px; }
	.bio .bioCertification div, .bioEducation div, .bioAcademic div, .bioContact div, .bioSkills div { 
		flex-flow: column wrap;
		justify-content: flex-start;
		align-items: flex-start; }
	.bio .bioCertification div h3, .bioEducation div h3, .bioAcademic div h3, .bioContact div h3 { 
		padding: 25px 0px 25px 0px;
		border-right: 0px;
		border-bottom: 3px solid #405d27; }
	.bio .bioCertification div p, .bioEducation div p, .bioAcademic div p, .bioContact div p { 
		margin-left: 0px; }	
	.subContainerA { 
		margin-left: 10px; 
		width: 320%; }
	.bioSkills table { 
		width: 100%;
		margin-left: 0px;
		line-height: 0.5; }	
	.bioSkills table h3 { 
		text-align: left;
		padding: 5px; }	
	.bioSkills table td i { 
		font-size: 20px;
		padding: 5px;
		margin: 5px 10px 5px 10px; }	
}

@media screen and (max-width: 380px)
{
	.subContainerA { 
		margin-left: 10px; 
		width: 420%; }
}


/* Style Projects */
.projects { 
	color: black;
	display: none; 
	flex-flow: column wrap; 
	justify-content: space-between; 
	align-items: flex-start; 
	padding: 25px; }
.projects h1 { 
	text-align: left; }	
.projects .projectCategory button, .collectNav button {
	cursor: pointer;
	font-size: 17px;
	display: inline-block; 
	outline: none;
	border-bottom: 2px solid #c1946a;  
	background: none; 
	padding: 20px; }		
.projects .projectCategory button:hover, .collectNav button:hover { 
	color: #3e4444;; 
	border-bottom: 2px solid #3e4444; }

.projects .collect {
	width: 100%; 
	display: none; }
.projects .collection { 
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-around;
	align-items: center;  }
.projects .collection div { 
	margin: 20px 10px 50px 10px;
	width: 30%; }
.projects .collection div img { 
	width: 100%; }		

.projects .ticTac { 
	margin-top: 20px;
	width: 100%;
	display: none; }
.projects .ticTac iframe { 
	width: 100%; 
	height: 700px; 
	display: inline-block; 
	outline: none; 
	border: none;}					
/*.projects .projectTemplate .pt1{ 
	display: flex; 
	flex-flow: row wrap; 
	justify-content: flex-start; 
	align-items: center; 
	padding: 25px; }	
.projects .pa1 h3, .pt1 h3 { 
	color: black;
	position: relative;
	padding: 20px;  }
.projects .pa1 h3:hover, .pt1 h3:hover { 
	color: white; 
	text-decoration: underline; }		
.projects .pa1 h3::after, .pt1 h3::after { 
	content: ' '; 
	position: absolute;
  	width: 3px;
  	background-color: crimson;
  	top: 0;
  	bottom: 0;
  	margin: 10px; }
.projects .pa1 p, .pt1 p { 
	margin-left: 25px; }*/

@media screen and (max-width:  1024px)
{
	.projects .projectCategory button { 
		font-size: 17px; }
	.subContainer { width: 320%; }	
}

@media screen and (max-width: 769px)
{
	.projects { 
		padding: 15px; }
	.projects .projectCategory button { 
		font-size: 15px; 
		padding: 10px; }
	.subContainer { 
		width: 280%; }	
	.text p { 
		font-size: 15px; }	
	.modalContainer .modalContent { 
		width: 90%;
		border-top-right-radius: 50px;
		border-bottom-left-radius: 50px; }	
	.modalContent iframe { 
		width: 90%; }		
}

@media screen and (max-width: 481px)
{
	.projects { 
		padding: 10px; }
	.subContainer { 
		width: 480%; }	
	.modalContainer { 
		padding: 1px; }		
	.modalContainer .modalContent { 
		background-color: inherit;
		width: 100%;
		padding: 0px;
		margin: 0px;
		border-radius: 0px; }	
	.modalContent iframe { 
		width: 100%;
		margin: 0px; }
}

@media screen and (max-width:  380px)
{
	.subContainer { 
		width: 600%; }
}

/* Style Social */
.gallery { 
	color: black;
	display: none; 
	flex-flow: column wrap; 
	justify-content: space-around; 
	align-items: flex-start; 
	padding: 25px; }
#i1 { 
	width: 100%; }	

/* Style for main scrollbar */
body::-webkit-scrollbar { width: 10px; height: 0px; }
body::-webkit-scrollbar-track { border-radius: 5px; }
body::-webkit-scrollbar-track:hover { background-color: #405d27; }
body::-webkit-scrollbar-thumb { background-color: white; border:1px solid black; border-radius: 5px; }	

.infoClass1 { 
	width: auto;
	margin: 10px;
	color: black; }	
.infoClass1 h3 { 
	color: #405d27; }	
.infoClass1 li:hover { 
	color: white; }	

.infoClass2 { 
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	padding: 10px; }	
.infoClass2 * { 
	font-size: 19px;
	padding-left: 15px;
	cursor: pointer; }
.infoClass2 *:hover { 
	color: white; }	

.infoClass1 .projectTimeline { 
	padding: 25px;
	display: none;
  	position: relative;
  	/*width: 100%;*/
  	margin-left: 40%;
  	margin-top: 100px;
  	/*margin-right: auto;*/ }
/* The actual timeline (the vertical ruler) */ 
.infoClass1 .projectTimeline::after {
  	content: '';
  	position: absolute;
  	width: 6px;
  	background-color: #405d27;
  	top: 0;
  	bottom: 0;
  	left: 50%;
  	right: 50%;
  	margin-left: -3px; }
/* Container around content */ 
.infoClass1 .projectTimeline .container {
  	padding: 25px;
  	position: relative;
  	background-color: inherit;
  	width: 100%; }
/* Place the container to the left */ 
.infoClass1 .projectTimeline .left {
  	left: -50%; }
/* Place the container to the right */ 
.infoClass1 .projectTimeline .right {
  	left: 50%; }  	
/* The circles on the timeline */ 
.infoClass1 .projectTimeline .container::after {
  	content: '';
  	position: absolute;
  	width: 25px;
  	height: 25px;
  	right: -15px;
  	background-color: white;
  	border: 2px dashed black;
  	top: 15px;
  	border-radius: 50%;
  	z-index: 1; }
/* Fix the circle for containers on the right side*/ 
.infoClass1 .projectTimeline .right::after {
  	left: -15px; }  	
.infoClass1 .projectTimeline .container .content {
	text-align: center;
	color: #132020;
  	padding: 25px;
  	background-color: white;
  	position: relative;
  	border: 2px solid white;
  	border-bottom-right-radius: 10%;
  	border-bottom-left-radius: 10%; }
.infoClass1 .projectTimeline .container .content li { 
	text-align: left; } 
.infoClass1 .projectTimeline .container .content li:hover { 
	color: black; }	 			
.infoClass1 .projectTimeline .container .content:hover { 
	border: 2px solid black; }
.infoClass1 .projectTimeline .container .content button { 
	text-align: center;
	color: black;
	border-bottom: 2px solid white;
	display: inline-block;  }
.infoClass1 .projectTimeline .container .content button:hover { 
	color: black;
	border-bottom: 2px solid black; }	

@media screen and (max-width: 769px)
{
	.infoClass1 .projectTimeline {
		margin-left: 3%; }
	.infoClass1 .projectTimeline:after { 
		left: 10%; }	
	.infoClass1 .projectTimeline .left { 
		left: 10%; }
	.infoClass1 .projectTimeline .right { 
		left: 10%; }	
	.infoClass1 .projectTimeline .container::after { 
		left: -35px; }	
}	