body { 
	text-align: center; 
	padding: 5px; 
	background-color: rgba(100,70,80,0.5); } 
.TopNav a { 
	float: none; } 
.TopNav a:hover { 
	color: brown; }
.TopNav p { 
	color: brown; }
.row1 { 
	background-color: rgba(100,50,80,0.6); }
.row1_column1 { 
	width: 100%; 
	text-align: center; 
	margin: 1%; } 
.row1_column1 p { 
	padding: 10px; }
.row1_column2 { 
	width: 100%; 
	margin: 1%; }
.row1_column2 img { 
	height:35%; 
	width: 35% ; 
	border: solid 15px brown; }
.row2 p, .row3 p { 
	text-align: center; }
.row5 a:hover { 
	color: brown; }
h2 { 
	color: brown; }
.TopNav p { 
	text-align: center; }

