form { padding: 10px; }
input[type=search] { 
    width:150px; 
    outline: none; 
    box-sizing: border-box; 
    border: none; 
    border-bottom: 2px solid white;
    background:none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; }
input[type=search]:focus { 
	width:300px; 
	outline: none; 
	border:none; 
	border-bottom: 5px solid grey;  }