
* { 
	box-sizing: border-box; 
	line-height: 1.5;
	font-family: 'tahoma', sans-serif;  }

body { 
	background: darkseagreen; }

.game { 
	text-align: center;
	width: 50%; 
	margin-left: auto; 
	margin-right: auto; }

@media screen and (max-width:  769px)
{
	.game { 
		width: 100%; }	
}

@media screen and (max-width: 380px)
{
	.game { 
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		height: 660px; }	
}	

.selection { 
	padding: 10px; }
.selection button { 
	line-height: 30px;
	width: 40%;
	padding: 10px;
	display: inline-block; 
	outline: none; 
	border: 2px solid black; 
	background: none; }
.selection button:hover { 
	cursor: pointer; 
	background: black;
	color: darkseagreen; }		
.selection button i { 
	vertical-align: middle; }	

.container { 
	width: 100%;
	padding: 25px;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center; }
.container .subContainer { 
	margin-left: auto;
	margin-right: auto;
	display: flex; 
	flex-flow: row wrap; 
	justify-content: space-between; 
	align-items: center; }	
.subContainer div { 
	padding: 10px; 
	height: 100px; 
	width: 100px; }
.subContainer div i { 
	top: 50%; }	
.subContainer div:hover { 
	color: white;
	cursor: pointer; }		
.s1, .s2 { 
	border-bottom: 5px solid black; }
#cell1, #cell2, #cell4, #cell5, #cell7, #cell8 { 
	border-right: 5px solid black; }	
.extra { 
	margin-left: 10%;
	text-align: left; }	
.extra button { 
	font-size: 15px;
	position: relative;
	cursor: pointer;
	display: inline-block; 
	outline: none; 
	border: none;
	background: none; 
	line-height: 30px;}
.extra button:hover { 
	color: white; }	
.extra button i { 
	vertical-align: middle; }

.extra .menuOp {
	display: none; 
	background: crimson; 
	width: 200px; 
	position: absolute;
	padding: 10px;
	border-radius: 0px 15px 15px 15px ; }		

.modals { 
	display: none;
	position: fixed;
	left: 0;
	top: 0; 
	z-index: 1; 
	width: 100%; 
	background-color: darkseagreen; 
	padding: 5%; 
	overflow: auto;
	height: 100%; }
.modals::-webkit-scrollbar { 
	width: 0; }	
.modals .modalContents { 
	padding: 5%;
	width: 50%; 
	margin-right: auto; 
	margin-left: auto; 
	background-color: crimson;
	border-radius: 50px;  }	
.modalContents button { 
	top: 0;
	left: 0;
	display: inline-block; 
	outline: none; 
	border: 2px solid black;
	font-size: 19px; 
	line-height: 30px; 
	border-radius: 30%; 
	background: none; }  
.modalContents button:hover { 
	cursor: pointer; 
	color: white; 
	border-color: white; }
.modalContents .levBtn { 
	padding: 10px; }	
.modalContents .levBtn button { 
	font-size: 15px;
	border-radius: 0px; }
.modalContents .levBtn button:hover { 
	background: white;
	color: black; }	
.modalContents #normalLevel { 
	border-color: white; }			
.modalContents button i { 
	vertical-align: middle; }		

