
* { 
	box-sizing: border-box;
	font-family: "Lucida Console", Monospace;
	line-height: 1.5; }

body { 
	background: linear-gradient(-45deg, maroon, crimson, pink, yellow); }

.navigation {
	display: flex; 
	height: 100px;
	margin: 20px 50px;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center; }	
.navigation button { 
	font-size: 17px;
	display: inline-block; 
	outline: none;
	border: none;  
	background: none; 
	padding: 20px; }
.navigation button:hover { text-decoration: underline; color: grey; cursor: pointer; }	

.homehead { width: 100%; }
.homehead img { width: 15%; margin-left: 40%; margin-top: 100px; margin-bottom: 100px;}

.featured { display: flex; flex-flow: column wrap; }
.featuredproducts { display: flex; flex-flow: row wrap; align-items: center; justify-content: space-around; padding: 10px; }
.featuredproducts img { width: 15%; height: 15%; padding: 15px;}
