
@import "DefaultStyle.css";

body {
	background-color: white;
}
.noScript {
	display: block;
	width: 30%;
	font-size: 20px;
	margin: 20% auto;
	padding: 50px;
	background-color: white;
	text-align: center;
	color: #a71d31;
	border-radius: 5px;
	box-shadow: 5px 5px 10px black;
}
.withScript {
	display: none;
	position: relative;
	padding: 50px;
}

.navigation {
	padding: 0px 0px 50px 0px;
	font-size: 17px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}
.navigation a, .navigation button {
	cursor: pointer;
	padding: 15px;
	color: #a71d31;
}
.navigation a:hover, .navigation button:hover {
	color: white;
	background-color: #3f0d12;
}
.navigation #n1 {
	background: linear-gradient( transparent 0% 5%, #a71d31 5% 8%, transparent 8% 92%, #a71d31 92% 95%, transparent 95% 100%);
}
.navigation #n1:hover {
	color: #a71d31;
}

.menu {
	width: 100%;
	padding: 50px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.menu .menuClose {
	position: absolute;
	top: 15px;
	left: 15px;
}
.menu button[id='menuCloseId'] {
	cursor: pointer;
	width: 50px;
	height: 50px;
	background-color: #3f0d12;
	color: white;
}
.menu .search {
	background-color: #3f0d12;
	width: 100%;
	padding: 25px;
}
.search input {
	width: 100%;
	padding: 10px;
	border-bottom: 2px solid white;
	color: white;
}
.search input::placeholder {
	color: white;
}
.search input:focus::placeholder {
	color: #a71d31;
}
.menuContent {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.menuCategory {
	width: 20%;
}
.menuCat, .menuSetting {
	width: 100%;
	font-size: 17px;
	background-color: #a71d31;
	display: flex;
	flex-flow: column wrap;
}
.menuCat a, .menuSetting a {
	padding: 15px 25px;
	color: white;
	width: 100%;
}
.menuCat a:hover, .menuSetting a:hover {
	background-color: #3f0d12;
}

.searchSug {
	width: 77%;
}

.moreCategories .channels {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.channels .channelsContainer {
	display: flex;
	flex-flow: row wrap;
}
.channelsContainer .channelTile {
	width: 300px;
	margin: 7px;
	border-radius: 5px;
	box-shadow: 5px 5px 10px black;
}
.channelTile img {
	cursor: pointer;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border-right: 7px solid transparent;
	border-bottom: 7px solid transparent;
}
.channelTile img:hover {
	border-color: #3f0d12;
}

.trending h2 {
	color: #3f0d12;
}
.sliderz { 
	width: 100%;
	padding: 0px 50px;
	overflow-x: scroll;
	overflow-y: none; 
}
.topNews .sliderz, .topTrend .sliderz {
	padding: 0px;
}
.sliderz::-webkit-scrollbar { width: 0px; height: 0px; }	
.sliderContainerz { 
	width: 40%;
  	white-space: nowrap; 
}
.topNews .sliderContainerz, .topTrend .sliderContainerz {
	width: 60%;
	white-space: nowrap;
}		
.sliderz .sliderContentz { 
	cursor: pointer;
	display: inline-block;
	overflow: auto;
	background-color: #a71d31;
	border-radius: 5px;
	margin-right: 7px;
	width: 100%; 
}
.sliderz .sliderContentz:hover {
	background: linear-gradient(#a71d31, #3f0d12);
}	
.sliderContentz .middlez { 
	display: flex;
	flex-flow: row wrap; 
}	
.sliderContentz .thumbnailz {
  	width: 50%;
  	border-radius: 5px;
  	height: 100%;
  	height: auto; 
}	
.sliderContentz .thumbnailz img { 
	width: 100%; 
	height: 100%; 
	border-radius: 0px 5px 0px 0px
}	
.sliderContentz .textz {
	color: white;
	white-space: normal;
	width: 50%;
	height: 100%; 
	padding: 10px;
	font-size: 20px;
	height: 100%; 
}	

.portal {
	padding: 7px;
	display: flex;
	flex-flow: row;
	align-items: flex-start;
	justify-content: flex-start;
}
.portal section {
	width: 300px;
	height: 250px;
	background-color: #3f0d12;
	border-radius: 5px;
}	